#board {
  display: inline-block;
  border: 1px solid black;

}



.row {
  display: flex;
  margin: 0;
  padding: 0;
}

.square {
  font-family: chessBoard;
  font-size: 3rem;
  display: inline-block;
  flex-direction: row;



  &.active {
    background-color: lime;
  }

  &-black {
    background-color: #666;

    &.active {
      background-color: green;
    }
  }


}

.available {
  background-color: orange;

  &.occupied {
    background-color: red;
  }
}



.square-inner {
  margin: auto;
}



/*  Need classes for selected piece, and allowable moves  */